<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quicksolve">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickSolve"
        tools:targetApi="31">
        <activity
         android:parentActivityName=".unitconverter"
            android:name=".speed"
            android:exported="false" />
        <activity
            android:name=".Mass"
            android:parentActivityName=".unitconverter"
            android:exported="false" />
        <activity
            android:name=".volume"
            android:parentActivityName=".unitconverter"
            android:exported="false" />
        <activity
            android:name=".temp"
            android:parentActivityName=".unitconverter"
            android:exported="false" />
        <activity
            android:name=".area"
            android:parentActivityName=".unitconverter"
            android:exported="false" />
        <activity
            android:name=".length1"
            android:parentActivityName=".unitconverter"
            android:exported="false" />
        <activity
            android:name=".length"
            android:parentActivityName=".unitconverter"
            android:exported="false" />
        <activity
            android:name=".unitconverter"
            android:exported="false"

            android:label="Unit Converter" />
        <activity
            android:name=".IndexActivity"
            android:exported="false"
            android:parentActivityName=".unitconverter"
            android:label="Index" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".unitconverter"
            android:theme="@style/Theme.QuickSolve">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>